{% extends 'base.html' %}
{% block main_other %}
            <div class="container">
                <div class="form-wrapper">
                    <span class="form-title">Регистрация</span>
                    <form action="{% url 'registration_page' %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field != form.consent %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="form-item wrapper">
                           <label class="label-checkbox" for="{{ form.consent.id_for_label}}">Обработка персональных данных</label>
                            {{ form.consent }}
                        </div>
                        <input class="form-item button" type="submit" value="Зарегистрироваться">
                    </form>

                    {% include 'includes/errors_messages.html' %}
                </div>
            </div>
{% endblock %}

